***Multiple Choice marker*** <br />
Load the data with the student answers. The last column contains the correct answers.

In [1]:
import pandas as pd
df = pd.read_csv('marks_python.csv', header = None, na_values = 'none')

In [2]:
df.head()

    0    1    2    3   4    5   6     7    8   9    10
0   ab  abd   bd  bcd   d   ae  ab  abcd   bc   b   ad
1   ab    b    d  bcd   d   ae  ab  abcd  bcd  bc  acd
2   ac  abd   bd  bcd  cd  ade  ab   abc   ab   b    c
3  abc    b  NaN    d   d  abe  ab  abcd   ab  bc  NaN
4   ab  abd    b  bcd   d   ae  ab   abc  abc   b   bd

Extract the correct answer from the last row

In [3]:
correctrow = df[-1:][:]
answer=[]

for row in correctrow.iterrows():
    index, data = row
    answer.append(data.tolist())

Create the output dataframe

In [4]:
dfout = df.copy()

Define the function to compute the score of multiple choice questions

In [5]:
import difflib
def compareToAnswer(studentAnswer, counter, solution):
    if str(studentAnswer) == "nan":
        studentAnswer = ""
    
    solution = solution[0][counter]
    score = 0
    letter = ['abcd'] * 11
    letter[5] = 'abcde'
    l = letter[counter]
    
    for e in solution:
        if e in studentAnswer:
            score = score + 2.5/len(letter[counter]) 
        else:
            score = score - 2.5/len(letter[counter]) 

    listO = []
    for i,s in enumerate(difflib.ndiff(solution, l)):
        if s[0]==' ': continue
        elif s[0]=='+':  
            listO.append(s[-1])
    
    for e in listO:
        if e in studentAnswer:
            score = score - 2.5/len(letter[counter])
        else:
            score = score + 2.5/len(letter[counter])
    return score

Iterate of the rows of dataframe (each row represents a student) and 
compute the student score per question. Aggregate everything in the output dataframe.

In [6]:
for row in df.itertuples():
    counter = 0
    listscore = []
    for e in row:
        #print(counter)
        if type(e) == int:
            continue
        else:
            score = compareToAnswer(e, counter, answer)
            counter = counter + 1
            listscore.append(str(score))
    dfout = dfout.append(pd.Series(listscore, index = dfout.columns), ignore_index = True)

In [7]:
dfout.to_csv('markedAnswers.csv')